{% extends "zinnia:zinnia/entry_list.html" %}
{% load i18n zinnia %}
{% block content-title %}{% endblock %}

{% block admin-tools %}
    {% if category and perms.zinnia.change_category %}
        <li class="list-group-item">
            <a href="{% url 'admin:zinnia_category_change' category.pk %}" title="{% trans "Edit the category" %}">
                <span class="glyphicon glyphicon-pencil"></span>
                {% trans "Edit the category" %}
            </a>
        </li>
    {% endif %}
    {% if tag and perms.tagging.change_tag %}
        <li class="list-group-item">
            <a href="{% url 'admin:tagging_tag_change' tag.pk %}" title="{% trans "Edit the tag" %}">
                <span class="glyphicon glyphicon-pencil"></span>
                {% trans "Edit the tag" %}
            </a>
        </li>
    {% endif %}
    {% if author and perms.auth.change_user %}
        <li class="list-group-item">
            <a href="{% url 'change'|user_admin_urlname author.pk %}" title="{% trans "Edit the author" %}">
                <span class="glyphicon glyphicon-pencil"></span>
                {% trans "Edit the author" %}
            </a>
        </li>
    {% endif %}
{% endblock admin-tools %}
